  <h2>Welcome to She Talks Tech!</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus pellentesque eu tincidunt tortor.
    <br>
    <br> 
    Gravida neque convallis a cras semper. Quam id leo in vitae turpis massa sed elementum. Faucibus ornare suspendisse sed nisi lacus sed. Vitae congue eu consequat ac felis donec et 
    odio pellentesque. Consequat nisl vel pretium lectus. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Enim nulla aliquet porttitor lacus luctus accumsan tortor. 
  </p>
  
  <div class="row">
      {{#each posts}}
     <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-content">
          <p class="card-title" style="font-weight: bold">{{post_title}}</p>
          <p>By {{username}} on {{created_at}}</p>
          <p>{{post_content}}</p>
          <a href="/post/{{id}}" style="color:#e831c3">{{comments.length}} comment(s)</a>
        </div>
        <div class="card-action">
          <a href="/post/{{id}}" style="color:#d19fe4">READ MORE</a>
        </div>
      </div>
      </div>
      {{/each}}
  </div>
