  <h2 style="color:#d19fe4; font-weight:bold">Welcome to She Talks Tech!</h2>
  <p>
   Let’s face it, the tech industry is dominated by males. We’re here to provide a space for all the bad a$$ tech women to collaborate, ask questions and share your thoughts on all things tech.
  </p>
  <br>
  <h5 style="font-weight:bold">Recent posts and discussions</h5>
  
  <div class="row">
      {{#each posts}}
     <div class="col s12 m4 l3">
      <div class="card">
        <div class="card-content">
          <p class="card-title" style="font-weight: bold">{{post_title}}</p>
          <p>By {{user.username}} on {{format_date created_at}}</p>
          <p>{{post_content}}</p>
          <a href="/post/{{id}}" style="color:#e831c3">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
        <div class="card-action">
          <a href="/post/{{id}}" style="color:#d19fe4">READ MORE</a>
        </div>
      </div>
      </div>
      {{/each}}
  </div>
