
<article class="post">
  <div class="title">
    <h2 style="color:#d19fe4; font-weight:bold">{{post.post_title}}</h2>
   <div class="meta">
    <p>
    By <b>{{post.user.username}}</b> | {{format_date post.created_at}}
    |
    <a style="color: #e831c3" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
  </div>
    </p>
    <br>
    <span>({{post.post_content}})</span>
  </div>
  <br>
  <h5 style="font-weight:bold">Comments</h5>
  <br>
  <div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
     <b>{{user.username}}</b> | {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
      <br>
    </div>
  </section>
  {{/each}}
</div>
</article>
<br>
  {{#if loggedIn}}
  <form class="comment-form col s12">
  <div class="row">
    <div class="input-field col s12">
      <textarea name="comment-body" class="materialize-textarea"></textarea>
     <!-- <label for="comment-body">Add a comment</label> !-->
    </div>
  </div>

  <div>
    <button class="btn" style="background-color: #e831c3" type="submit">add comment</button>
  </div>
</form>
{{/if}}
<br>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}